.myheader {
    background-color: white;
}
.mybut {
    border: none;
    padding: 8px 15px;
    margin-right: 35px;
    margin-left: 35px;
    transition: 0.3s all ease;
}

.mybut:hover {
    transition: 0.3s all ease;
    background-color:#006edc;
    color:white;
}

.mybut:active {
    transition: 0.2s all ease;
    transform: scale(0.95);
}

.title-shop {
    background-color: #e9ecef;
    text-align:center;
}

.add-but {
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    float:right;
    transition: 0.3s all ease;
}
.add-but:hover {
    transition: 0.3s all ease;
    background-color:#006edc;
    color:white;
}
.add-but:active {
    transition: 0.2s all ease;
    transform: scale(0.95);
}

.price {
    font-size: 18px;
    float:right;
    margin-bottom: 0rem;
    margin-top: 0.4rem;
}

.model-photo {
    margin-top: 1rem;
    width: 150px;
}

.subtitle {
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-bottom: 0rem;
    margin-top: 1rem;
    transition: 0.3s all ease;
}

.subtitle:hover {
    transition: 0.3s all ease;
    color: #006edc;
}

.bin {
    width: 100px;
    margin: 15px 0px 0px 0px;
}

.jumbotron {
    margin-bottom: 0rem;
}

.btn {
    border: none;
    padding: 8px 15px;
    margin-right: 35px;
    margin-left: 35px;
    transition: 0.3s all ease;
}

.btn:hover {
    transition: 0.3s all ease;
    background-color:#006edc;
    color:white;
}

.btn:active {
    transition: 0.2s all ease;
    transform: scale(0.95);
}